/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/
@import './variables.scss';
/* theme color */
$--color-primary: $color-primary;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
$--color-success: $color-success;
$--color-info: $color-info;

$--font-size-base: 16px;
$--input-placeholder-color: $color-secondary;

$--color-text-regular: $color-text-regular;
$--pagination-font-size: 16px;

$--button-padding-vertical: 11px;

$--border-color-base:  $border-color;
$--border-color-light: $border-color;
$--border-color-lighter: $border-color;
$--table-header-background-color: $color-primary;
$--table-header-font-color: #FFFFFF;

$--dialog-padding-primary: 50px;
$--alert-title-font-size: 16px;
$--alert-close-font-size: 14px;
$--alert-padding: 10px 32px;

$--checkbox-border-radius: 0;
$--messagebox-title-color: $color-primary;
$--messagebox-font-size: 16px;
$--msgbox-padding-primary: 50px;

$--background-color-base: #FFFFFF;

$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
