// base color

$color-primary: #1A329F;
$color-info: #90A0AF;
$color-warning: #FA8C16;
$color-danger: #FE5B5A;
$color-secondary:#D8DBE3;
$border-color: #EEEEEE;
$border-color-secondary: $color-secondary;

$color-text-regular: #092C4D;

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: $color-warning;
$panGreen: #30B08F;

// sidebar
$menuText: $color-info;
$menuActiveText: $color-primary;
$subMenuActiveText:$color-primary; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #FFFFFF;
$menuHover: mix(#FFFFFF, $color-primary, 70%);
$menuTextHover: $color-primary;

$subMenuBg:#FFFFFF;
$subMenuHover: mix(#FFFFFF, $color-primary, 80%);
$subMenuTextHover: $color-primary;

$sideBarWidth: 240px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  colorPrimary: $color-primary;
  colorInfo: $color-info;
  colorWarning: $color-warning;
  colorDanger: $color-danger;
  colorSecondary: $color-secondary;
  borderColor:$border-color
}
